@import "partials/reset";
@import "partials/fonts";
@import "partials/variable";

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'robotoregular', sans-serif;
}

a {
	text-decoration: none;
}

/* Default classes start */
.d-block {
	display: block;
}

.default-section {
	padding-top: 80px;
	padding-bottom: 120px;
} 

.default-title {
	font-family: 'robotomedium', sans-serif;
	font-size: 25px;
	margin-bottom: 15px;
}

.default-text {
	font-family: 'robotoregular', sans-serif;
	font-size: 16px;
	margin-bottom: 65px;
}

.bg-blue {
	background-color: #2c3e50;
}

/* Default classes end */
// Visual start
.visual {
	background: url(../img/main-foto.jpg) no-repeat;
	background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.visual-header {
	position: absolute;
	top: 100%;
	left: 0;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.visual .contact-header {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact-header li {	
	font-size: 15px;
	color: #fff;
}

.contact-header a {
	color: #fff;
}

.contact-header a:hover {
	color: #1dd2af;
}

.register {
	display: flex;
} 

.register li {
	border-right: 1px solid #17202a;
    padding: 12px 15px;
}

.register li:first-child {
	padding-left: 0;
}

.register a {
	font-family: 'robotolight';
	font-size: 15px;
}

.register span {
	font-family: 'robotolight';
	font-size: 15px;
	margin-left: 15px;
}

.social {
	display: flex;
}

.social li { 
    border-left: 1px solid #17202a;
    padding: 12px 15px;	
}

.social .svg-inline--fa {
	font-size: 16px;
}

.main-header {
	background-color: #fff;	
}

.nav-header {
	padding: 32px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.nav a {
	font-size: 15px;
	color: #5d6e80;
}

.nav a:hover {
	color: #1dd2af;
}

.nav li a {
	font-family: 'robotomedium', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}

.nav li + li {
	margin-left: 40px;
}

.search {
	margin-left: 35px;
	font-size: 20px;
	color: #2c3e50;
	padding: 10px;
	border: 1px solid #2c3e50;
	border-radius: 50%;	
}

.search:hover {
	color: #1dd2af;
}

.visual-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.visual-text h1 {
	font-family: 'robotoregular', sans-serif;
	font-size: 50px;
	color: #fff;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.visual-text p {
	font-family: 'robotoregular', sans-serif;
	font-size: 25px;
	color: #fff;
	margin-bottom: 45px;
}

.visual-text button {
	font-family: 'robotoregular', sans-serif;
	padding: 20px;
	text-transform: uppercase;
	font-size: 25px;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;	
}

.visual-text button + button {
	margin-left: 30px;
} 

.visual-text button:hover {
	background: #1dd2af;
	border: 2px solid #1dd2af;
}

.visual-footer {
	border-top: 1px solid #3a4e61;	
}

.text-form {
	margin-right: 50px;
}

.visual-form {
	overflow: hidden;
	display: flex;
	align-items: center;
}

.input-item {
	position: relative;
	max-width: 325px;
}

.input-item .svg-inline--fa {
	font-size: 20px;
	color: #a4a4a4;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.input-item input {
	font-family: 'robotoregular', sans-serif;
	font-size: 20px;
	color: #8a8a8a;
	width: 100%;
	padding: 15px 10px;
	border: 1px solid #19242e;
}

.visual-form input[type="submit"] {
	font-family: 'robotoregular', sans-serif;
	margin-left: 20px;
	padding: 15px 30px;
	font-size: 20px;
	background: #1dd2af;
	color: #fff;
}

.visual-form input[type="submit"]:hover {
	cursor: pointer;
}

.text-form p {
	font-family: 'robotoregular', sans-serif;
	font-size: 20px;
	color: #9fb0c0;
}

.text-form h3 {
	font-family: 'robotoregular', sans-serif;
	font-size: 25px;
	color: #fff;
}

.form-section {
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-section span {
	font-family: 'robotolight', sans-serif;
	margin:25px;
	font-size: 22px;
	color: #9fb0c0;
}

@media (max-width: 991px) {
	.nav {
		display: none;
	}
	.slicknav_menu {
		display: block;
	}
}

// visual end
// offers start
.offers .default-title {
	text-transform: uppercase;
	color: #2c3e50;
	text-align: center;
}

.offers .default-text {
	color: #626262;
	text-align: center;
}

.block-country {
	min-width: 275px;
	padding-top: 5px;
	padding-bottom: 20px;
	background-color: #eee;
	border-radius: 5px;
	border: 5px solid transparent;
}

.block-country:hover {
	cursor: pointer;
	background-color: #2c3e50;
	border: 5px solid #1dd2af;
}

.block-country:hover img {
	filter: contrast(150%);
}

.block-country:hover h4 {
	color: #fff;
}

.block-country:hover span {
	color: #8899a8;
}

.block-country:hover .svg-inline--fa {
	color: #fff;
}

.slick-slide {
	margin: 0 10px;
}

.slick-slide img {
	margin: auto;
}

.offers-slider h4 {
	font-family: 'robotoregular', sans-serif;
	margin: 20px 0 5px 0;
	font-size: 15px;
	color: #626262;
	margin-left: 20px;
}

.offers-slider span {
	font-family: 'robotoregular', sans-serif;
	font-size: 13px;
	color: #626262;
	margin-right: 20px;
	margin-left: 20px;
}

.offers-slider .svg-inline--fa {
	font-size: 15px;
	color: #9fb0c0;
}

//offers end
// holidays start

.holidays {
	background: url(../img/holiday-bg.jpg) no-repeat center / cover;
}

.holidays-type {
	display: flex;
	flex-wrap: wrap;
}

.holidays-type li {
	width: calc(100% / 6 - 30px);
	text-align: center;
	margin: 0 15px;
} 

.holidays-type li a img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.holidays-type li a img.green {
	display: none;
}

.holidays-type li:hover a img.white {
	display: none;
}

.holidays-type li:hover a img.green {
	display: block;	
}

.holidays-type li:hover p {
	color: #1dd2af;
}

.holidays .default-title {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

.holidays .default-text {
	color: #9eafc0;
	text-align: center;
}

.holidays-type p {
	font-family: 'robotoregular', sans-serif;
	font-size: 20px;
	color: #9dafc0;
}

.holidays-type a:hover {
	color: #1dd2af;
}

@media (max-width: 991px) {
	.holidays-type li {
		width: calc(100% / 3 - 30px);
		text-align: center;
		margin: 15px;
	} 
}

@media (max-width: 767px) {
	.holidays-type li {
		width: calc(100% / 2 - 30px);
		text-align: center;
		margin: 15px;
	} 
}

@media (max-width: 576px) {
	.holidays-type li {
		width: calc(100% / 1 - 30px);
		text-align: center;
		margin: 15px;
	} 
}
//holidays end
// happy start


.happy {
	background-color: #fff;
}

.happy .default-title {
	color: #2c3e50;
	text-align: center;
	text-transform: uppercase;
}

.happy .default-text {
	color: #626262;
	text-align: center;
}

.client-text {
	padding: 25px;
	border: 1px solid #dedede;
	border-top: 5px solid #dedede;
}

.client-text:hover {
	border-top: 5px solid #1dd2af;
}

.client-text p {
	font-family: 'robotoregular', sans-serif;
	font-size: 15px;
	line-height: 21px;
	color: #4d4d4d;
	margin-bottom: 10px;
}

.client-text .client {
	display: block;
	font-family: 'robotoregular', sans-serif;
	font-size: 18px;
	color: #1dd2af;
	margin-bottom: 5px;
}

.client-text .coutry {
	font-family: 'robotoregular', sans-serif;
	font-size: 13px;
	color: #b2b2b2;
}



//happy end
// contact start

.contact {
	padding: 65px 0;
	background-color: #2c3e50;
	border-bottom: 1px solid #394c5f;
}

.posts {
	margin-bottom: 25px;
	display: flex;
	align-items: center;
}

.contact img {
	margin-right: 10px;
	border: 1px solid #fff;
}

.contact-us {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.default-contact {
	width: calc(100% / 4 - 30px);
	margin: 0 15px;
	font-size: 13px;
	text-align: left;
}

.default-contact h2 {
	font-family: 'robotoregular', sans-serif;
	margin-bottom: 20px;
	font-size: 25px;
	color: #1dd2af;
}

.default-contact p {
	font-family: 'robotoregular', sans-serif;
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 22px;
	color: #fff;
}

.contact-form {
	margin-top: 20px;
}

.contact-date {
	color:#1dd2af;
}

.contact-mail {
	color: #fff;
}

.contact-form input[type="text"] {
	width: 145px;
	height: 30px;
	padding-left: 15px;
	border: 1px solid #19242e;
	border-radius: 2px;
}

.contact-form input[type="submit"] {
	width: 45px;
	height: 34px;
	border: 1px solid #19242e;
	border-radius: 2px;
	background: #1dd2af;
	color: #fff;
}

.contact-list input[type="submit"]:hover {
	cursor: pointer;
}

.contact .nav-social a {
	font-size: 25px;
	color: #fff;
	margin-right: 30px;
}

.nav-social {
	display: flex;
	margin-top: 20px;
}

.contact .nav-social a:hover {
	color: #1dd2af;
}

.contact .contact-tags {
	display: flex;
	flex-wrap: wrap;
}

.btn {
	font-size: 13px;
	color: #fff;
	background-color: #2c3e50;
	padding: 8px 10px;
	border: 1px solid #fff;
	margin: 5px;
} 

.btn:hover {
	color: #1dd2af;
	border: 1px solid #1dd2af;
}

@media (max-width: 991px) {
	.default-contact {
		width: calc(100% / 2 - 30px);
		margin-bottom: 50px;
	} 
}

@media (max-width: 767px) {
	.default-contact {
		width: calc(100% / 1 - 30px);
		margin-bottom: 50px;
	} 
}

// contact end

.main-footer {
	background-color: #2c3e50;
	padding-top: 35px;
	position: relative;
}

.nav-main-footer {
	margin-bottom: 18px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.nav-main-footer li {
	display: flex;
	margin: 5px 0;
}

.nav-main-footer a {
	color: #fff;
	font-size: 15px;
}

.nav-main-footer a:hover {
	color: #21b299;
}

.main-footer .nav-main-footer span {
	color: #fff;
	font-size: 15px;
	margin: 0 5px;
}

.copy {
	display: block;
	margin-bottom: 40px;
	text-align: center;
	font-size: 13px;
	color: #9dafc0;
}

.triangle {
	margin-top: 45px;
	position: relative;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 80px solid #1dd2af;
}

.triangle-up .fa-arrow-up {
	font-size: 15px;
	color: #fff;
}

.triangle-up {
	position: absolute;
	bottom: -60px;
	left: -7px;
}

.main-footer span {
	display: block;
	text-align: center;
	margin: auto;
	color: #9dafc0;
	font-size: 13px;
}

// main-footer end
